<%- include('util_layout/header') %>
<% if (!data) { %>
  <div class="alert alert-danger" role="alert">
    CONTACT NOT FOUND <a href="/contact" class="alert-link">BACK</a>
  </div>
<% } else { %>
 
<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h2>DETAIL CONTACT</h2>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= data.name %></h5>
                  <h6 class="card-subtitle mb-3 text-muted"><%= data.email %></h6>
                  <p class="card-text">CONTACT : <%= data.notlp %></p>
                  <p class="card-text fw-normal text-light bg-success p-1 fs-4" style="width: fit-content;"> UNIQCODE : <%= data.code %></p>
                  <div class="d-flex flex-column" style="width: fit-content;">
                    <div class="d-flex justify-content-between" style="width: fit-content;">
                      <a href="/contact/edit/<%=data.code%>" class="btn btn-primary ">EDIT DATA</a>
                      <a href="/contact/delete/<%=data.code%>" class="btn btn-danger ms-2" onclick="return confirm('delete contact dengan code <%= data.code%>')">DELETE DATA</a>
                    </div>
                    <a href="/contact" class="btn btn-secondary text-light mt-2">BACK</a>
                  </div>

                </div>
            </div>
        </div>
    </div>

</div>
  <% } %>
  <%- include('util_layout/footer') %>